<template>
    <vue-three-sixty 
        :amount=11
        imagePath="https://cms-nasmoco.kotakmedia.co.id/images_360/exterior/innova"
        fileName="innova-{index}.png"
    />
</template>
<script>
export default {
    
}
</script>

<style>

</style>