<template>
    <vue-three-sixty 
        :amount=11
        imagePath="../innova"
        fileName="innova-{index}.png"
    />
</template>

<script>
    import axios from 'axios'

    export default {
        data(){
            return {
                content: null,
                title: this.$route.params.seo,
            }   
        },
        mounted(){
            const options = {
                method: 'POST',
                url: 'https://cmspwa.nasmoco.co.id/pwa/api/v1/cardetail',
                headers: {                                        
                    'x-api-key': 'omWOZwbYfEpHWa5ApvMxQ37WAdxXmAXoMRl4eV2fSmH5ARuEMSd09bigrJgULGrz',
                },
                data: {
                    car_seo: this.$route.params.seo,
                }            
            };
           axios.request(options).then((response) => (this.content = response.data.data));
        },
        head(){
            return {
                title : this.title,
            }
        }
    }
</script>